body {
  padding-bottom: var(--Spacing-3xl);
}

main.main-website {
  margin-top: var(--Spacing-2xl);
}

.content-section__head {
  width: 100%;
  border: none;
  flex-direction: column;
}

.content-section__head-search {
  min-width: 12rem;
  max-width: 28rem;
  /* width: 100%; */
  flex-grow: 1;
}

.content-section__head-actions {
  display: flex;
  gap: var(--Spacing-md) var(--Spacing-xl);
  flex-wrap: wrap;
  width: 100%;
}

.content-section__head-selects {
  display: flex;
  gap: var(--Spacing-md);
}

/* ****** Sidemenu ****** */

.sidebar-section {
  gap: var(--Spacing-xl);
}

.sidebar-section__head {
  flex-direction: column;
}

.sidebar-section__profile {
  display: flex;
  width: 100%;
  gap: var(--Spacing-md);
  align-items: center;
}

.sidebar-section__user-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-md);
}

.sidebar-section__user-image {
  width: 4.6875rem;
  height: 4.6875rem;
  overflow: hidden;
  border-radius: 50%;
}

.sidebar-section__user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar-section__stats {
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-md);
}

.stat-item {
  display: flex;
  justify-content: space-between;
  color: var(--Color-Text-icon-title);
}

.stat__label {
  font: var(--Font-Body-bold-style);
}

.sidebar__navs {
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-md);
}

.sidebar__nav-icon {
  position: relative;
}

.sidebar-section .notif__badge--navlink {
  background-color: var(--Color-Surface-subtle-primary);
  color: var(--Color-Text-icon-action);
  left: unset;
  right: -2rem;
}

.sidebar__nav-item {
  padding: var(--Spacing-md);
  background-color: var(--Color-Surface-page);
  border-radius: var(--Spacing-sm);
  font: var(--Font-Caption-bold-style);
  color: var(--Color-Text-icon-title);
  display: flex;
  justify-content: space-between;
}

.sidebar__nav-item:not(.sidebar__nav-item--active):hover {
  background-color: var(--Color-Surface-subtle-primary);
}

.sidebar__nav-item:not(.sidebar__nav-item--active):hover
  .notif__badge--navlink {
  background-color: var(--Color-Surface-hover-primary);
  color: var(--Color-Text-icon-on-primary);
}

.sidebar__nav-item:last-child:hover {
  background-color: var(--Color-Surface-error);
  color: var(--Color-Text-icon-on-state);
}

.sidebar__nav-item:last-child {
  background-color: var(--Color-Surface-subtle-error);
  color: var(--Color-Text-icon-on-subtle-error);
}

.sidebar__nav-item--active {
  color: var(--Color-Text-icon-on-primary);
  background-color: var(--Color-Surface-primary);
}

/* ****** Sidemenu ****** */

/* ****** Select2 ****** */

.select2-container--default .select2-results > .select2-results__options {
  overflow: visible;
  max-height: unset;
}

/* ****** Select2 ****** */
