.is-read {
  color: var(--Color-Text-icon-disabled);
  font-weight: var(--Typography-FontWeight-bold);
  display: flex;
  gap: var(--Spacing-sm);
  justify-content: center;
}

.content-section__head-filter-toggles {
  padding-bottom: 0;
}

.message {
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-sm);
}

.message-title {
  font: var(--Font-Title-regular-style);
}

.modal-header {
  justify-content: center;
  gap: var(--Spacing-sm);
}

.message__label {
  font: var(--Font-Body-bold-style);
  color: var(--Color-Text-icon-title);
}

.message__footer {
  color: var(--Color-Text-icon-title);
  display: flex;
  justify-content: space-between;
}
