.section-website__body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* ****** Accordion ****** */

.accordion-button {
  background-color: var(--Color-Surface-subtle-neutral);
  border: var(--Border-Style-default);
  border-radius: var(--Radius-lg);
}

.accordion-item:not(:last-child) .accordion-button {
  border-bottom: var(--Border-Style-default);
}

/* .accordion-button:not(.collapsed){
  background-color: var(--Color-Surface-subtle-neutral);
  color: var(--Color-Text-icon-title);
} */

.accordion-body {
  padding: 0;
  padding-block: var(--Spacing-md);
  border: none;
}

.episode {
  display: flex;
  justify-content: space-between;
  color: var(--Color-Text-icon-body);
  padding: var(--Spacing-sm) var(--Spacing-lg);
}

.episode--active .episode__icon {
  color: var(--Color-Text-icon-action);
}

.episode:hover {
  background-color: var(--Color-Surface-subtle-primary);
}

.episode__info {
  display: flex;
  gap: var(--Spacing-sm);
}

.episode__icon {
  color: var(--Color-Text-icon-disabled);
}

/* ****** Accordion ****** */
/* =================== mentor cards start =================== */
.mentor-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--Spacing-3xl);
  width: 100%;
  max-width: 56.25rem;
}

.mentor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Color-Surface-subtle-primary);
  border-radius: var(--bs-border-radius-lg);
  padding: var(--Spacing-md) var(--Spacing-lg);
  width: 100%;
  gap: var(--Spacing-xl);
  position: relative;
}

.mentor-card__profile {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.mentor-card__profile-img {
  position: absolute;
  top: calc(-1 * var(--NumScale-x5));
  right: var(--NumScale-x6);
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
  border-radius: var(--Radius-md);
  border: var(--NumScale-x1) solid var(--Border-Color-primary);
}

.mentor-card__profile-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-sm);
  padding-right: 7.5rem;
}

.mentor-card__name {
  font: var(--Font-H3-bold-style);
  color: var(--Color-Text-icon-action);
}

.mentor-card__info {
  font: var(--Font-Caption-regular-style);
  color: var(--Color-Text-icon-body);
}

.mentor-card__profile-left {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: var(--Spacing-sm);
}

.mentor-card__icon {
  display: flex;
  background-color: var(--Color-Surface-subtle-neutral);
  color: var(--Color-Text-icon-action);
  padding: var(--Spacing-sm);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  transition: var(--Transition-base);
}

.mentor-card__icon:hover {
  background-color: var(--Color-Surface-primary);
  color: var(--Color-Text-icon-on-primary);
}

.mentor-card__about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-md);
}

.mentor-card__about-title {
  font: var(--Font-Title-bold-style);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--Spacing-sm);
  color: var(--Color-Text-icon-action);
}

.mentor-card__aboutdescription {
  font: var(--Font-Body-regular-style);
  color: var(--Color-Text-icon-body);
}

@media screen and (max-width: 500px) {
  .mentor-card {
    margin-top: var(--NumScale-x5);
  }

  .mentor-card__profile-right {
    padding-right: 0;
    padding-top: 5rem;
  }

  .mentor-card__profile-img {
    right: unset;
    left: 50%;
    transform: translatex(-50%);
  }

  .mentor-card__profile {
    flex-direction: column;
  }

  .mentor-card__profile {
    align-items: flex-start;
    gap: var(--Spacing-md);
  }
}

/* =================== mentor cards end =================== */
