body {
  padding-bottom: var(--Spacing-3xl);
}

.courses-section__head {
  border: none;
}

main.main-website {
  margin-top: var(--Spacing-2xl);
}

.courses-section__head {
  flex-direction: column;
}

.courses-section__head-search {
  max-width: 21.875rem;
  width: 100%;
}

.courses-section__head-actions{
  display: flex;
  width: 100%;
}