/* ================================
   RESET / BASE STYLES
   Normalize basic elements
   ================================ */

@import url(../fonts/fontiran.css);

* {
  font-family: IRANSansX;
}

body {
  background-color: var(--Color-Surface-page);
  max-width: 1800px;
  margin: auto;
}

a {
  text-decoration: none;
}
