/* ================================
   RESET / BASE STYLES
   Normalize basic elements
   ================================ */

@import url(../fonts/fontiran.css);

* {
  font-family: IRANSansX;
}

body {
  background-color: var(--Color-Surface-page);
  max-width: 1800px;
  margin: auto;
  color: var(--Color-Text-icon-body);
  font: var(--Font-Body-regular-style);
}

a {
  text-decoration: none;
  color: var(--Color-Text-icon-action);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

hr{
  opacity: 1;
  margin: 0;
}
