/* ================================
   RESET / BASE STYLES
   Normalize basic elements
   ================================ */

@import url(../fonts/fontiran.css);

* {
  font-family: IRANSansX;
}

body {
  background-color: var(--Color-Surface-page);
  max-width: 1800px;
  margin: auto;
  color: var(--Color-Text-icon-body);
  font: var(--Font-Body-regular-style);
}

a {
  text-decoration: none;
  color: var(--Color-Text-icon-action);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--Color-Text-icon-title);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

hr {
  opacity: 1;
  margin: 0;
}

.breadcrumb {
  margin: 0;
}

.breadcrumb-item {
  --bs-breadcrumb-item-active-color: var(--Color-Text-icon-action);
  padding-left: var(--bs-breadcrumb-item-padding-x);
}

.breadcrumb-item:not(:last-of-type)::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: var(--bs-breadcrumb-divider-color);
  content: var(--bs-breadcrumb-divider, "/");
}

.breadcrumb-item:last-of-type::before {
  all: unset;
}

.breadcrumb-item a {
  color: var(--Color-Text-icon-title);
}

.breadcrumb-item.active {
  font-weight: var(--Typography-FontWeight-bold);
}