.input {
  height: fit-content;
  position: relative;
  width: 100%;
}

.input__field {
  padding: var(--Spacing-sm) var(--Spacing-md);
  font: var(--Font-Body-regular-style);
  border-radius: var(--Radius-md);
  background-color: var(--Color-Surface-page);
  border: var(--Border-Style-default);
  outline: none;
  transition: var(--Transition-base);
  width: 100%;
}

.input__placeholder {
  position: absolute;
  right: calc(0px + var(--Spacing-md));
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  opacity: 0;
  font: var(--Font-Body-regular-style);
  color: var(--Color-Text-icon-placeholder);
}

.input__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(0px + var(--Spacing-md));
  color: var(--Color-Text-icon-placeholder);
  transition: var(--Transition-base);
}

.input__field:placeholder-shown + .input__placeholder {
  opacity: 1;
}

.input__field::placeholder {
  font: var(--Font-Body-regular-style);
  color: var(--Color-Text-icon-placeholder);
}

.input__field:not(:placeholder-shown),
.input__field:focus {
  color: var(--Color-Text-icon-action);
  border-color: var(--Border-Color-primary);
}

.input__field:focus ~ .input__icon {
  color: var(--Color-Text-icon-action);
}
