.pagination {
  width: 3rem;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Color-Surface-subtle-primary);
  color: var(--Color-Text-icon-body);
  border-radius: var(--Radius-md);
}

.pagination:hover {
  background-color: var(--Color-Surface-hover-primary);
  color: var(--Color-Text-icon-on-primary);
}

.pagination--active {
  background-color: var(--Color-Surface-primary);
  color: var(--Color-Text-icon-on-primary);
}

.paginations {
  display: flex;
  justify-content: center;
  gap: var(--Spacing-sm);
}

@media screen and (max-width: 1000px) {
  .pagination {
    width: 2.5rem;
  }
}
