.pagination {
  width: 3rem;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Color-Surface-subtle-primary);
  color: var(--Color-Text-icon-body);
  border-radius: var(--Radius-md);
}
