.price-box {
    display: flex;
    flex-direction: column;
    gap: var(--Spacing-xl);
    background-color: var(--Color-Surface-subtle-neutral);
    border: var(--Border-Style-default);
    border-radius: var(--Radius-lg);
    padding: var(--Spacing-md);
    color: var(--Color-Text-icon-title);
    width: 100%;
    max-width: 28rem;
    max-height: fit-content;
}

.price-box__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--Spacing-md);
}

.price-box__actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: var(--Spacing-md);
    width: 100%;
}

.price-box__discount {
    display: flex;
    align-items: center;
    gap: var(--Spacing-sm);
    width: 100%;
    height: fit-content;
}

.price-box__action-button {
    padding: var(--Spacing-sm) var(--Spacing-md);
}

.price-box__info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.price-box__info-bg-white {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--Spacing-md);
    background-color: var(--Color-Surface-page);
    border-radius: var(--Radius-md);
    width: 100%;
    height: fit-content;
}

.info-bg-white-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}