.offcanvas.offcanvas-end {
  border: 0;
  border-top-left-radius: var(--Radius-lg);
  border-bottom-left-radius: var(--Radius-lg);
}

.offcanvas {
  max-width: 37.5rem;
  --bs-offcanvas-width: 80%;
  padding: var(--Spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-lg);
}

.offcanvas-header {
  padding-top: 0;
  padding-inline: 0;
  border-bottom: var(--Border-Style-default);
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-lg);
}

.offcanvas-title {
  font-weight: bold;
}

.offcanvas.show .button-close,
.offcanvas.showing .button-close {
  opacity: 1;
}

.button-close {
  position: absolute !important;
  left: -3rem;
  top: 3rem;
  background-color: var(--Color-Surface-error);
  color: var(--Color-Text-icon-on-state);
  border: none;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  transition: var(--Transition-medium);
  opacity: 0;
}

.offcanvas.hiding .button-close {
  opacity: 0;
}
