.skeleton {
  background: linear-gradient(
    90deg,
    var(--Color-Surface-disabled) 0%,
    var(--Color-Surface-subtle-neutral) 50%,
    var(--Color-Surface-disabled) 100%
  );
  animation: skeleton 2s linear infinite both;
  background-size: 300% 100%;
}

.skeleton-before--hide {
  display: none;
}

.skeleton-after {
  display: none !important;
}

.skeleton-after--show {
  display: block !important;
}

.skeleton-cards {
  width: 100%;
  display: flex;
  gap: var(--Spacing-md);
  overflow: hidden;
}

.skeleton-card {
  width: calc(100% / 4);
  min-width: 17.5rem;
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-lg);
  border: var(--Border-Style-default);
  padding: var(--Spacing-lg);
  border-radius: var(--Radius-lg);
}

.skeleton-header {
  height: 300px;
  width: 100%;
}

.skeleton-card__texts {
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-sm);
}

.skeleton-card__text {
  height: 1rem;
  width: 100%;
  border-radius: var(--Radius-md);
}

.skeleton-card__text--half {
  width: 40%;
}

.skeleton-card__image {
  width: 100%;
  height: 7.5rem;
  border-radius: var(--Radius-md);
}

@media screen and (max-width: 1000px) {
  .skeleton-card__image {
    height: 5rem;
  }
  .skeleton-card {
    min-width: 11rem !important;
  }
}

@keyframes skeleton {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 300% 0;
  }
}
