.skeleton {
  background: linear-gradient(
    90deg,
    var(--Color-Surface-disabled) 0%,
    var(--Color-Surface-subtle-neutral) 50%,
    var(--Color-Surface-disabled) 100%
  );
  animation: skeleton 2s linear infinite both;
  background-size: 300% 100%;
}

.skeleton-after {
  display: none !important;
}

.skeleton-cards {
  display: flex;
  gap: var(--Spacing-md);
  overflow: hidden;
}

.skeleton-card {
  width: calc(100% / 4);
  min-width: 15.625rem;
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-lg);
  border: var(--Border-Style-default);
  padding: var(--Spacing-lg);
  border-radius: var(--Radius-lg);
}

.skeleton-header {
  height: 300px;
  width: 100%;
}

.skeleton-card__texts {
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-sm);
}

.skeleton-card__text {
  height: 1rem;
  width: 100%;
  border-radius: var(--Radius-md);
}

.skeleton-card__text--half {
  width: 40%;
}

.skeleton-card__image {
  width: 100%;
  height: 9.375rem;
  border-radius: var(--Radius-md);
}

@keyframes skeleton {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 300% 0;
  }
}
