.course-card {
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-md);
  padding: var(--Spacing-md);
  border-radius: var(--Radius-md);
  border: var(--Border-Style-primary);
  background-color: var(--Color-Surface-page);
  width: fit-content;
  transition: var(--Transition-base);
  height: 100%;
}

.course-card:hover {
  box-shadow: var(--Shadow-Md-Neutral-style);
}

/* ****** Head ****** */

.course-card__head {
  width: 15.625rem;
  height: 9.375rem;
  background-color: var(--Color-Text-icon-title);
  border-radius: var(--Radius-md);
  overflow: hidden;
  position: relative;
}

.course-card__head img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: linear-gradient(black 50%, transparent 100%);
}

.course-card__head-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  padding-inline: var(--Spacing-sm);
  bottom: var(--Spacing-sm);
}

.course-card__head-button {
  color: var(--Color-Surface-page);
  background-color: unset;
  border: var(--Border-Style-white);
  position: relative;
  cursor: pointer;
}

.course-card__head-button input {
  display: none;
}

.course-card__head-button:hover .icon {
  scale: 1.1;
}

.course-card__head-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.course-card__head-button .icon {
  transition: var(--Transition-base);
}

.course-card__head-button .icon-filled {
  position: absolute;
  opacity: 0;
}

.course-card__head-button--heart .icon-filled {
  color: var(--Color-Text-icon-on-subtle-error);
}

.course-card__head-button--cart .icon-filled {
  color: var(--Color-Text-icon-on-subtle-success);
}

.course-card__head-button:has(input:checked) {
  background-color: var(--Color-Surface-page);
}

.course-card__head-button input:checked ~ .icon-filled {
  opacity: 1;
}

.course-card__head-button input:checked ~ .icon-linear {
  opacity: 0;
}

/* ****** Head ****** */

/* ****** Body ****** */

.course-card__body {
  display: flex;
  gap: var(--Spacing-sm);
  flex-direction: column;
  padding-bottom: var(--Spacing-md);
  border-bottom: var(--Border-Style-default);
}

.course-card__body p {
  margin: 0;
}

.course-card__body .icon:not(.label__icon .icon) {
  color: var(--Color-Text-icon-action);
}

.course-card__body-category {
  display: flex;
  gap: var(--Spacing-sm);
  align-items: center;
  position: relative;
}

.course-card__body-category-title {
  color: var(--Color-Text-icon-action);
  font: var(--Font-Body-bold-style);
  margin: 0;
}

.course-card__body-category-icon {
  display: flex;
}

.course-card__body-title {
  font: var(--Font-Body-bold-style);
  color: var(--Color-Text-icon-title);
  margin: 0;
}

.course-card__body-infos {
  display: flex;
  flex-direction: column;
  /* gap: var(--Spacing-sm); */
}

.course-card__body-info {
  display: flex;
  align-items: center;
  gap: var(--Spacing-sm);
}

.course-card__body-info-value {
  color: var(--Color-Text-icon-title);
  font: var(--Font-Body-bold-style);
  display: flex;
  gap: var(--Spacing-sm);
  align-items: center;
}

.course-card__body-info-text {
  color: var(--Color-Text-icon-body);
  font: var(--Font-Body-regular-style);
}

.course-card__body-info-value-unit {
  font: var(--Font-Caption-light-style);
}

.course-card__body .label {
  position: absolute;
  left: 0;
}

.course-card__body-info-icon {
  display: flex;
}

.course-card__body-info-icon:has(img) {
  width: var(--IconSize-md);
  overflow: hidden;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.course-card__body-info-icon img {
  width: 100%;
  height: 110%;
  object-fit: cover;
}
/* ****** Body ****** */

/* ****** Foot ****** */

.course-card__foot {
  flex-grow: 1;
}

.course-card__foot-infos {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.course-card__foot-info-prices {
  direction: ltr;
  display: flex;
  flex-direction: column;
}
.course-card__foot-price-info-before {
  text-decoration: line-through;
  color: var(--Color-Text-icon-disabled);
  font: var(--Font-Caption-regular-style);
}

.course-card__foot-price-unit {
  font: var(--Font-Caption-regular-style);
}

.course-card__foot-price-info-after {
  color: var(--Color-Text-icon-action);
}

.course-card__foot-price-info-after-value {
  font: var(--Font-Title-bold-style);
}

.course-card__foot .label {
  height: 100%;
}
/* ****** Foot ****** */
